.products{
    background-image: url('../images/products.jpg');
    background-size: cover;
    background-position: center;
    height: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.products .item{
    margin-right: 15%;
}
.products h2{
    font-size: 2.5em;
    color: $dark-grey;
    font-weight: 600;
}

.products a{
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-top: 1em;
    background-color: $dark-grey;
    color: white;
    padding: 0.5em;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.4s ease
}

.products a:hover{
    background-color: black
}