// === logo === //

.logo{
    position: absolute;
    left: 45%;
    top: -10px;
    transition: z-index 0.8s ease;
    z-index: 0;
    transition: fill 0.8s ease
}
.logo svg{
    width: 100px;
}
.logo p{
    position: relative;
    left: 5px;
    bottom: 45px;
    color: $black
}

.logo span{
    color: $yellow
}
// === header === //

header{
    height: 5em;
    position: relative;
    z-index: 9;
}
.nav-container{
    position: fixed;
    height: 5em;
    width: 100%;
    background-color: white;
}
// === NAV BAR === //

nav{
    width: 100%;
    height: 5em;
    position: relative;
}
.nav-wrapper ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 2em;
}
.nav-item{
    padding: 0 1em;
}
.nav-item a{
    color: $black;
    font-family: "karla";
    font-weight: 600;
    transition: $transition;
    &:hover{
        text-shadow: rgba(249, 198, 6, 0.5) 5px -5px 0px;
    }
}

.main-nav{
    float: left;
}
.secondery-nav{
    float: right;
}
.nav-tools a{
    color: $grey;
    transition: all 0.4s ease;
    &:hover{
        color: $black;
        text-shadow: none;
    }
}

.tool1{
    border-right: 1px solid $grey
}

// === nav btn === //
.nav-btn{
    display: none;
    position: absolute;
    top: 1.2em;
    left: 2em;
    cursor: pointer;
    transition: $transition;
    transition: z-index 0.8s ease;
    z-index: 0;
}
.nav-btn span{
    display: block;
    height: 1.5px;
    width: 25px;
    background: $black;
    margin: 0.2em 0;
}
.nav-btn .middle{
    height: 2.3px;
    transition: all 0.2s ease
}
.nav-btn .dash1{
    transition: all 0.5s ease
}
.nav-btn .dash2{
    transition: all 0.5s ease
}

// === sidebar === //

.sidebar{
    width: 80%;
    background-color: #313131;
    position: absolute;
    left: -80%;
    top: 0;
    height: 100vh;
    transition: all 0.5s ease
}
.nav-mob a{
    display: block;
    color: white;
    transition: $transition;
    font-family: 'karla',sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    &:hover{
        color: $grey;
    }
}
.nav-mob{
    padding: 1em;
}
.side-wrapper{
    padding-top: 7em;
    position: relative;
    width: 100%;
    height: 100%
}


// === small devices === //

@media only screen and (max-width: 47em){
    .nav-btn{
        display: block;
    }
    .nav-item{
        display: none
    }
    .nav-tools{
        display: block
    }
    .tool1{
        display: none
    }
    .logo p{
        display: none
    }
    .nav-wrapper ul{
        padding-top: 1.2em;
    }
    .nav-wrapper{
        height: 3.5em;
    }
    nav{
        height: 3.5em;
    }
    .nav-container{
        height: 3.5em;

    }
    header{
        height: 3.5em;
    }
    .logo{
        left: 38%;
    }
}

@media screen and (max-width:340px){
    .logo{
        left: 30%;
    }
}